{%- comment -%}
  Televes "Benefits" Section - 1:1 clone of store.televes.com
  Self-contained: HTML + CSS + JS
{%- endcomment -%}

{%- liquid
  assign heading = section.settings.heading | default: 'benefits'
  assign subheading = section.settings.subheading | default: 'of installing an antenna at home'
  assign cta_text = section.settings.cta_text | default: 'Get yours'
  assign cta_link = section.settings.cta_link | default: '/collections/tv-antennas'

  assign b1_title = section.settings.b1_title | default: 'enjoy!'
  assign b1_text = section.settings.b1_text | default: 'Watch your favorite sports, prime time shows, and local news'
  assign b2_title = section.settings.b2_title | default: 'no fees'
  assign b2_text = section.settings.b2_text | default: 'No monthly fees: Save up to $1,500 per year'
  assign b3_title = section.settings.b3_title | default: 'antenna RECOMMENDATION'
  assign b3_text = section.settings.b3_text | default: 'Personalized phone/email support and recommendation tool'
  assign b4_title = section.settings.b4_title | default: 'easy installation'
  assign b4_text = section.settings.b4_text | default: 'Three simple steps'
  assign b5_title = section.settings.b5_title | default: '30 DAY RETURNS'
  assign b5_text = section.settings.b5_text | default: 'Try your antenna for 30 days'
-%}

<section id="sec-sob" class="tv-benefits">
  <div class="tv-benefits__container">
    <h2 class="tv-benefits__title">{{ heading }}</h2>
    <h3 class="tv-benefits__subtitle">{{ subheading }}</h3>
    <div class="tv-benefits__row">
      {%- comment -%} Benefit 1 - Enjoy (confetti icon e93e) {%- endcomment -%}
      <div class="tv-benefits__item">
        <span class="tv-benefits__icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="32" height="32" fill="currentColor">
            <g transform="translate(0, 960) scale(1, -1)">
              <path d="M307.482 644.198c-7.654 7.603-18.637 10.854-29.21 8.602s-19.277-9.651-23.194-19.738l-252.288-650.496c-4.608-11.853-1.741-25.318 7.27-34.278 6.118-6.067 14.259-9.293 22.554-9.293 3.942 0 7.936 0.742 11.75 2.227l648.934 256.307c10.035 3.968 17.408 12.723 19.584 23.296s-1.126 21.53-8.781 29.158l-396.621 394.214zM297.062 564.326l72.602-72.166c-0.256-1.869-0.358-3.763-0.282-5.683 7.757-170.675 61.235-256.845 98.099-309.299l-95.13-37.581c-4.25 6.323-8.883 12.826-13.747 19.635-36.48 51.149-91.622 128.435-99.507 302.131-0.051 1.357-0.23 2.662-0.461 3.968l38.4 98.97zM216.602 78.080c-1.587 2.202-3.226 4.403-4.941 6.707-18.15 24.32-42.982 57.651-46.387 136.269-0.051 0.947-0.154 1.894-0.256 2.816l44.518 114.79c23.219-113.126 67.661-175.437 96.998-216.576 1.613-2.253 3.174-4.454 4.71-6.63l-94.618-37.376zM121.933 112.768c10.342-26.317 22.784-44.902 33.075-59.008l-66.099-26.112 33.024 85.12zM528.794 201.37c-0.384 0.538-0.768 1.075-1.152 1.638-29.517 41.395-71.91 100.915-88.32 219.955l185.011-183.859-95.514-37.734zM439.168 625.562c-11.315-13.568-9.472-33.766 4.096-45.056 5.99-4.992 13.235-7.424 20.48-7.424 9.165 0 18.278 3.917 24.602 11.52 53.12 63.744 133.658 202.931 98.483 320.154-5.069 16.922-22.912 26.547-39.834 21.453-16.922-5.069-26.522-22.912-21.453-39.834 25.446-84.787-37.709-202.419-86.349-260.787zM997.862 563.2c-119.834 24.832-251.469-67.507-310.374-125.978-12.544-12.442-12.621-32.717-0.154-45.261 6.246-6.298 14.49-9.446 22.707-9.446s16.307 3.098 22.554 9.293c53.914 53.555 165.606 126.694 252.288 108.723 17.306-3.584 34.253 7.526 37.837 24.832s-7.526 34.253-24.832 37.837zM545.331 547.712c-11.648-13.286-10.342-33.51 2.944-45.158 6.067-5.325 13.594-7.936 21.094-7.936 8.883 0 17.741 3.686 24.064 10.906 3.558 4.045 5.504 5.043 26.598 1.152 21.146-3.891 56.525-10.419 84.992 20.224 32.512 35.021 21.53 70.63 14.976 91.93-5.325 17.306-4.582 18.099-2.125 20.762 3.251 3.533 5.248 4.454 25.472 0.538 20.992-4.045 56.141-10.829 84.608 19.942 28.109 30.413 19.098 63.565 13.696 83.354-1.459 5.35-3.891 14.285-3.405 16.64 0 0 0.41 0.742 2.048 2.099 5.35 4.454 18.611 4.506 31.411 4.557 23.782 0.077 59.699 0.205 81.971 32.64 22.042 32.051 13.875 62.95 8.474 83.43-1.382 5.222-3.405 12.928-3.354 16.128 0.23 0.23 0.589 0.538 1.075 0.947 13.901 10.931 16.307 31.027 5.402 44.928-10.931 13.901-31.027 16.307-44.928 5.402-34.918-27.443-25.267-64.051-20.070-83.712 4.762-18.074 5.402-23.962 0.666-30.822-2.842-4.122-11.008-4.813-29.466-4.89-21.888-0.077-49.126-0.179-72.166-19.379-34.637-28.851-24.755-65.203-19.43-84.71 4.89-17.946 4.198-19.712 1.050-23.117-3.251-3.533-5.248-4.454-25.472-0.538-21.018 4.045-56.166 10.829-84.608-19.942-28.237-30.541-18.099-63.411-12.058-83.046 5.965-19.379 5.888-22.426-0.717-29.542-3.61-3.891-6.682-4.48-26.496-0.845-21.606 3.968-57.754 10.65-86.298-21.888zM746.65 858.496c0-19.794-16.046-35.84-35.84-35.84s-35.84 16.046-35.84 35.84c0 19.794 16.046 35.84 35.84 35.84s35.84-16.046 35.84-35.84zM965.068 678.63c3.171-19.538-10.096-37.948-29.634-41.119s-37.948 10.096-41.119 29.634c-3.171 19.538 10.096 37.948 29.634 41.119s37.948-10.096 41.119-29.634zM887.27 318.387c0-19.794-16.046-35.84-35.84-35.84s-35.84 16.046-35.84 35.84c0 19.794 16.046 35.84 35.84 35.84s35.84-16.046 35.84-35.84zM456.243 767.283c0-19.794-16.046-35.84-35.84-35.84s-35.84 16.046-35.84 35.84c0 19.794 16.046 35.84 35.84 35.84s35.84-16.046 35.84-35.84z"/>
            </g>
          </svg>
        </span>
        <h3 class="tv-benefits__item-title">{{ b1_title }}</h3>
        <p class="tv-benefits__item-text">{{ b1_text }}</p>
      </div>

      {%- comment -%} Benefit 2 - No fees (no-fees icon e93b) {%- endcomment -%}
      <div class="tv-benefits__item">
        <span class="tv-benefits__icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="32" height="32" fill="currentColor">
            <g transform="translate(0, 960) scale(1, -1)">
              <path d="M905.523 876.442h-787.046c-64.563 0-117.094-52.531-117.094-117.094v-490.47c0-64.563 52.531-117.094 117.094-117.094h355.2c32.512-77.568 109.184-132.198 198.426-132.198s165.914 54.63 198.426 132.198h34.995c64.563 0 117.094 52.531 117.094 117.094v490.47c0 64.563-52.531 117.094-117.094 117.094zM73.062 669.466h877.875v-105.216h-877.875v105.216zM118.477 804.736h787.046c25.037 0 45.414-20.378 45.414-45.414v-18.176h-877.875v18.176c0 25.037 20.378 45.414 45.414 45.414zM528.742 234.598c0 79.053 64.307 143.36 143.36 143.36 35.558 0 68.122-13.056 93.21-34.56l-229.914-151.91c-4.301 13.619-6.63 28.109-6.63 43.11zM672.102 91.238c-38.195 0-72.934 15.053-98.637 39.475l232.96 153.933c5.837-15.59 9.037-32.461 9.037-50.048 0-79.053-64.307-143.36-143.36-143.36zM905.523 223.437h-18.662c0.179 3.686 0.282 7.424 0.282 11.162 0 118.579-96.461 215.040-215.040 215.040s-215.040-96.461-215.040-215.040c0-3.738 0.102-7.45 0.282-11.162h-338.867c-25.037 0-45.414 20.378-45.414 45.414v223.718h877.875v-223.718c0-25.037-20.378-45.414-45.414-45.414z"/>
            </g>
          </svg>
        </span>
        <h3 class="tv-benefits__item-title">{{ b2_title }}</h3>
        <p class="tv-benefits__item-text">{{ b2_text }}</p>
      </div>

      {%- comment -%} Benefit 3 - Antenna Recommendation (adress/location icon e907) {%- endcomment -%}
      <div class="tv-benefits__item">
        <span class="tv-benefits__icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="32" height="32" fill="currentColor">
            <g transform="translate(0, 960) scale(1, -1)">
              <path d="M872.32 697.472c-14.413 44.518-37.658 85.76-69.043 122.522-23.398 28.083-49.178 51.968-76.595 71.040-27.392 19.021-56.525 34.458-86.733 45.875-30.131 10.701-62.362 17.331-95.821 19.661-8.653 0.614-17.51 0.922-26.291 0.922-25.139 0-51.2-2.509-77.338-7.424-47.514-8.038-91.29-24.499-130.15-48.947-38.861-24.474-73.139-57.19-101.837-97.254-32.742-44.774-54.963-92.595-65.997-142.106-11.034-49.536-11.213-102.093-0.538-156.16 5.325-28.723 13.773-58.291 25.114-87.91 11.264-29.542 26.419-62.669 45.005-98.483 14.515-27.725 30.285-55.91 46.925-83.84 17.229-27.853 36.198-56.525 56.346-85.274 20.198-28.826 42.163-58.496 65.28-88.192 23.142-29.773 48.282-60.621 74.573-91.469 4.89-6.298 10.24-11.648 15.898-15.872 5.478-4.122 11.392-7.603 17.613-10.394 3.712-2.176 7.501-3.686 11.315-4.454 3.661-0.717 7.347-1.101 10.931-1.101 2.97 0 6.17 0.384 9.574 1.126 3.021 0.666 5.862 1.357 8.55 2.022l0.307 0.077 0.307 0.128c9.088 3.507 16.742 7.808 22.784 12.749 5.837 4.813 10.906 9.702 15.027 14.515 21.786 25.088 43.085 50.918 63.309 76.774 20.045 25.626 39.962 51.763 59.315 77.747 35.046 49.613 65.741 96.896 91.213 140.57 25.549 43.827 47.565 87.526 65.408 129.792 13.286 30.566 23.424 58.931 30.080 84.275 6.682 25.395 10.752 50.842 12.083 75.546 3.328 50.79-2.253 99.098-16.64 143.616zM514.176 15.77l-1.971-1.997s-0.102 0.077-0.154 0.128c-0.691 0.512-1.152 1.024-1.434 1.613l-0.307 0.614-0.435 0.512c-26.266 30.182-50.611 59.878-72.397 88.269-22.4 28.979-43.597 57.677-63.002 85.325-19.482 27.725-37.658 55.398-54.042 82.304-16.41 26.214-31.718 53.197-45.517 80.154-16.41 32.128-29.875 61.901-40.064 88.499-10.138 26.445-17.92 52.762-23.117 78.182-8.448 43.52-8.294 86.144 0.486 126.72 8.755 40.525 26.701 79.539 53.299 115.866 24.013 32.461 51.994 58.957 83.149 78.771 31.104 19.763 66.253 33.050 104.55 39.552 11.085 1.946 21.99 3.43 32.41 4.429 10.368 0.973 20.915 1.459 31.334 1.459 44.749 0 86.989-9.37 125.568-27.827 38.605-18.509 74.342-46.669 106.163-83.661 25.318-30.515 44.083-64.256 55.757-100.224s16.282-74.982 13.67-115.917c-1.306-20.173-4.941-41.421-10.778-63.13-5.862-21.862-14.49-46.566-25.626-73.395-17.075-40.038-38.042-81.306-62.362-122.726-24.371-41.498-53.734-86.528-87.219-133.786-18.253-24.755-37.453-50.15-57.088-75.469-19.354-24.96-39.834-49.92-60.851-74.214zM693.094 576c0.666 49.562-16.538 92.928-51.149 128.922-34.637 35.994-77.338 54.579-126.848 55.27-1.741 0.051-3.482 0.077-5.222 0.077-21.914 0-43.264-3.994-63.411-11.853-21.76-8.499-41.395-21.094-58.368-37.376-17.638-16.947-31.565-36.736-41.395-58.778-9.856-22.067-15.181-45.645-15.846-70.195 0-23.757 4.301-46.95 12.774-68.966 8.499-22.093 21.402-42.24 38.451-59.955 16.922-16.947 36.531-30.362 58.24-39.859 21.709-9.523 45.107-14.669 69.658-15.334h3.968c48.256 0 90.291 17.562 124.928 52.224 34.586 34.586 52.838 76.902 54.195 125.85zM402.739 581.043c0 15.13 3.021 29.466 8.986 42.65 6.016 13.286 14.515 25.498 25.19 36.173 10.061 9.446 21.555 16.794 34.202 21.837 12.595 5.043 25.677 7.578 38.861 7.578h2.867c30.285-0.64 56.346-11.981 77.466-33.741 21.094-21.734 31.488-47.77 30.874-77.363-0.64-30.285-11.827-56.371-33.28-77.491-20.787-20.48-45.44-30.874-73.293-30.874-0.845 0-1.69 0-2.662 0.026-15.155 0-29.67 3.021-43.187 9.011-13.619 6.016-25.626 14.182-35.635 24.192-10.138 10.752-17.997 22.938-23.347 36.198-5.325 13.158-7.731 27.162-7.091 41.83z"/>
            </g>
          </svg>
        </span>
        <h3 class="tv-benefits__item-title">{{ b3_title }}</h3>
        <p class="tv-benefits__item-text">{{ b3_text }}</p>
      </div>

      {%- comment -%} Benefit 4 - Easy installation (installation/gear icon e955) {%- endcomment -%}
      <div class="tv-benefits__item">
        <span class="tv-benefits__icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="32" height="32" fill="currentColor">
            <g transform="translate(0, 960) scale(1, -1)">
              <path d="M512.563-62.72c-26.24 0-52.48 2.483-78.054 7.373-29.773 5.683-39.526 37.248-53.069 80.922-3.123 10.061-7.885 25.446-11.443 34.227-45.491 16.691-87.219 40.986-124.339 72.422-8.934-1.92-22.528-5.837-31.59-8.422-42.931-12.339-73.958-21.248-94.131 2.022-34.637 39.936-60.928 85.402-78.182 135.117-9.344 26.957 10.010 47.872 42.061 82.509 6.733 7.296 16.896 18.278 22.835 25.6-5.018 25.907-7.552 52.403-7.552 78.976 0 25.165 2.278 50.278 6.758 74.88-7.142 7.373-18.765 18.022-26.547 25.165-10.931 10.035-22.221 20.403-30.822 29.44-9.011 9.498-27.776 29.235-19.43 53.965 17.254 51.277 44.109 98.099 79.77 139.136 19.84 22.835 49.946 15.437 99.789 3.2 11.238-2.765 28.467-6.989 38.682-8.627 38.861 32.563 82.611 57.344 130.355 73.779 3.43 8.73 7.987 22.989 11.264 33.28 14.669 46.054 23.526 73.856 51.635 79.206 51.046 9.702 104.781 9.677 155.776-0.077 26.266-5.018 34.022-31.667 37.35-43.034 3.354-11.52 6.298-25.702 9.139-39.45 1.843-8.832 4.531-21.888 6.886-30.72 47.77-16.819 92.698-42.752 131.405-75.776 10.112 2.611 25.498 7.654 35.789 11.008 14.541 4.762 29.594 9.677 42.112 12.774 13.005 3.226 40.115 9.958 57.702-10.342 33.715-38.912 59.546-83.098 76.8-131.379 10.086-28.211-11.443-51.021-47.13-88.781-8.269-8.755-20.89-22.118-27.571-30.464 4.787-25.344 7.194-51.251 7.194-77.184s-2.33-50.893-6.938-75.776c6.963-7.578 18.765-18.842 26.624-26.342 36.813-35.098 59.059-56.294 49.075-85.043-17.203-49.587-43.418-94.925-77.926-134.81-19.635-22.656-49.28-14.515-98.381-1.024-10.547 2.893-26.419 7.245-36.506 9.318-38.886-33.382-84.198-59.597-132.378-76.544-3.021-8.909-6.835-22.989-9.37-32.384-12.237-45.286-20.301-75.187-49.69-80.794-25.523-4.864-51.763-7.347-77.978-7.347zM461.21 12.8c33.178-4.992 67.507-5.094 100.71-0.282 3.046 9.242 6.63 22.554 9.088 31.616 11.75 43.52 18.842 69.786 44.314 77.824 47.258 14.874 91.622 40.55 128.333 74.266 19.866 18.253 46.131 11.034 93.773-2.048 10.061-2.765 24.883-6.835 35.226-9.062 20.275 25.702 36.634 53.914 48.742 84.173-7.142 7.578-17.843 17.792-25.165 24.755-35.994 34.33-55.834 53.222-49.92 80.077 5.325 24.115 8.013 48.973 8.013 73.933s-2.688 49.741-7.987 73.805c-5.76 26.214 13.312 46.387 47.923 83.046 7.808 8.269 19.456 20.608 26.522 29.133-11.955 29.389-27.853 56.806-47.514 81.843-10.24-2.765-24.422-7.398-34.125-10.573-48.23-15.77-74.803-24.448-95.514-5.453-37.018 33.997-81.766 59.802-129.459 74.624-26.726 8.32-32.307 35.251-41.574 79.898-1.741 8.371-4.224 20.429-6.528 29.389-32.282 4.506-65.536 4.403-97.792-0.307-3.584-9.37-8.064-23.424-11.11-32.947-14.054-44.134-21.811-68.429-46.208-76.032-46.464-14.438-88.55-38.221-125.158-70.682-20.096-17.843-48.026-10.957-94.31 0.41-10.829 2.662-27.034 6.63-37.683 8.499-21.453-26.829-38.579-56.397-51.046-88.192 7.245-7.322 17.766-16.973 25.011-23.603 36.685-33.664 56.883-52.198 50.995-78.925-5.325-24.115-8.013-48.998-8.013-73.933s2.816-51.046 8.397-75.699c5.683-25.165-11.52-43.75-42.752-77.542-6.349-6.861-15.642-16.922-21.786-24.294 12.262-30.925 28.902-59.725 49.638-85.888 9.037 2.074 21.478 5.632 30.003 8.090 41.574 11.955 69.043 19.84 89.523 1.382 34.995-31.539 75.264-55.117 119.654-70.067 25.165-8.474 33.613-35.814 46.438-77.235 3.046-9.856 7.629-24.627 11.29-33.971zM512 254.822c-106.522 0-193.178 86.656-193.178 193.178s86.656 193.178 193.178 193.178 193.178-86.656 193.178-193.178-86.656-193.178-193.178-193.178zM512 569.498c-66.995 0-121.498-54.502-121.498-121.498s54.502-121.498 121.498-121.498 121.498 54.502 121.498 121.498-54.502 121.498-121.498 121.498z"/>
            </g>
          </svg>
        </span>
        <h3 class="tv-benefits__item-title">{{ b4_title }}</h3>
        <p class="tv-benefits__item-text">{{ b4_text }}</p>
      </div>

      {%- comment -%} Benefit 5 - 30 Day Returns (warranty/medal icon e94a) {%- endcomment -%}
      <div class="tv-benefits__item">
        <span class="tv-benefits__icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="32" height="32" fill="currentColor">
            <g transform="translate(0, 960) scale(1, -1)">
              <path d="M842.317 15.539l54.758 8.115c21.043 3.123 38.605 16.64 47.027 36.173 8.397 19.533 6.144 41.6-6.067 59.008l-85.632 122.317c24.858 16.794 40.397 45.005 40.448 76.16l0.128 79.206c0 4.378 1.382 8.55 3.942 12.083l46.669 64c23.603 32.358 23.68 75.904 0.179 108.339l-46.438 64.154c-2.56 3.533-3.917 7.731-3.917 12.109l0.128 79.206c0.077 40.038-25.472 75.315-63.539 87.757l-75.29 24.602c-4.147 1.357-7.706 3.942-10.291 7.501l-46.438 64.154c-23.475 32.435-64.87 45.978-102.989 33.664l-75.366-24.346c-4.173-1.357-8.576-1.331-12.723 0l-75.29 24.602c-38.067 12.442-79.488-0.947-103.091-33.306l-46.669-64c-2.586-3.533-6.144-6.118-10.317-7.45l-75.366-24.346c-38.118-12.314-63.77-47.488-63.821-87.526l-0.128-79.206c0-4.378-1.382-8.55-3.942-12.083l-46.669-64c-23.603-32.358-23.68-75.904-0.179-108.339l46.438-64.154c2.56-3.533 3.917-7.731 3.917-12.109l-0.128-79.206c-0.051-31.693 15.923-60.365 41.446-77.133l-85.888-122.675c-12.186-17.408-14.464-39.475-6.067-59.008s25.984-33.050 47.027-36.173l54.758-8.115 26.368-48.666c10.138-18.688 28.851-30.592 50.074-31.821 1.203-0.077 2.381-0.102 3.584-0.102 19.866 0 38.298 9.549 49.818 25.984l95.053 135.757c7.475 0.486 14.976 1.894 22.349 4.275l75.366 24.346c4.173 1.357 8.55 1.331 12.723 0l75.29-24.602c7.987-2.611 16.102-4.070 24.166-4.48l94.72-135.296c11.52-16.435 29.926-25.984 49.818-25.984 1.178 0 2.381 0.026 3.584 0.102 21.222 1.229 39.962 13.107 50.074 31.821l26.368 48.666zM540.544 193.331c-9.37 3.072-18.995 4.582-28.621 4.582s-19.072-1.51-28.339-4.48l-75.366-24.346c-8.499-2.739-17.766 0.282-22.989 7.526l-4.454 6.17-41.984 57.984c-11.494 15.872-27.392 27.469-46.029 33.562l-75.264 24.602c-1.126 0.358-2.176 0.819-3.174 1.357-6.707 3.507-11.008 10.47-11.008 18.253l0.128 79.206c0.026 19.584-6.016 38.323-17.51 54.195l-46.438 64.154c-5.248 7.245-5.222 16.973 0.051 24.192l46.669 64c11.546 15.821 17.664 34.56 17.69 54.144l0.128 79.206c0 8.934 5.734 16.794 14.259 19.558l75.366 24.346c18.637 6.016 34.586 17.562 46.131 33.408l46.669 64c5.274 7.219 14.515 10.214 23.014 7.424l75.29-24.602c18.611-6.093 38.323-6.118 56.96-0.102l75.366 24.346c8.525 2.739 17.766-0.282 22.989-7.526l46.438-64.154c11.494-15.872 27.392-27.469 46.029-33.562l75.29-24.602c8.499-2.79 14.208-10.65 14.182-19.61l-0.128-79.206c-0.026-19.584 6.016-38.323 17.51-54.195l46.438-64.154c5.248-7.245 5.222-16.973-0.051-24.192l-46.669-64c-11.546-15.821-17.664-34.534-17.69-54.144l-0.128-79.206c0-7.347-3.917-13.901-10.010-17.562-1.331-0.794-2.739-1.51-4.25-1.997l-75.341-24.346c-18.637-6.016-34.586-17.562-46.131-33.408l-46.669-64c-5.274-7.219-14.541-10.214-23.014-7.45l-75.264 24.602zM264.064 16.128l-20.685 38.195c-9.088 16.768-25.779 28.442-44.621 31.258l-42.957 6.374 86.528 123.571 28.211-9.216c4.147-1.357 7.706-3.942 10.291-7.501l46.438-64.154c3.328-4.582 7.014-8.781 10.982-12.595l-74.163-105.933zM696.678 134.016l46.669 64c2.586 3.533 6.144 6.118 10.317 7.45l29.67 9.574 86.195-123.085-42.957-6.374c-18.867-2.79-35.558-14.49-44.621-31.258l-20.685-38.195-74.496 106.394c3.584 3.507 6.912 7.322 9.958 11.494z"/>
            </g>
          </svg>
        </span>
        <h3 class="tv-benefits__item-title">{{ b5_title }}</h3>
        <p class="tv-benefits__item-text">{{ b5_text }}</p>
      </div>
    </div>

    <div class="tv-benefits__cta-row">
      <a class="tv-benefits__cta" href="{{ cta_link }}">{{ cta_text }}</a>
    </div>
  </div>
</section>

{% stylesheet %}
/* ===== Benefits Section ===== */
.tv-benefits {
  background: rgb(227, 227, 227);
  background: linear-gradient(0deg, rgb(227, 227, 227) 0%, rgba(245, 245, 245, 1) 100%);
}

.tv-benefits__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 576px) {
  .tv-benefits__container { max-width: 540px; }
}
@media (min-width: 768px) {
  .tv-benefits__container { max-width: 720px; }
}
@media (min-width: 992px) {
  .tv-benefits__container { max-width: 960px; }
}
@media (min-width: 1200px) {
  .tv-benefits__container { max-width: 1200px; }
}
@media (min-width: 1420px) {
  .tv-benefits__container { max-width: 1400px; }
}

/* Headings */
.tv-benefits__title {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: #333;
}

.tv-benefits__subtitle {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px 0;
  color: #333;
}

/* Benefits row */
.tv-benefits__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual benefit item */
.tv-benefits__item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
}

/* Icon */
.tv-benefits__icon {
  color: #ffa100;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tv-benefits__icon svg {
  width: 32px;
  height: 32px;
}

/* Item title */
.tv-benefits__item-title {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #333;
}

/* Item text */
.tv-benefits__item-text {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  color: #333;
}

/* CTA row */
.tv-benefits__cta-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tv-benefits__cta {
  font-weight: 700;
  color: #f6a400;
  text-decoration: none;
  transition: all 0.3s;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.tv-benefits__cta:hover {
  color: #333;
}

/* === Responsive === */
@media (max-width: 1200px) {
  .tv-benefits__item {
    width: 33.333333%;
  }
}

@media (max-width: 1024px) {
  .tv-benefits__item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .tv-benefits__icon {
    margin-top: 20px;
  }
}

@media (max-width: 750px) {
  .tv-benefits__item {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .tv-benefits__title {
    font-size: 34px;
    line-height: 40px;
  }
  .tv-benefits__subtitle,
  .tv-benefits__item-title {
    font-size: 18px;
    line-height: 22px;
  }
  .tv-benefits__icon svg {
    width: 28px;
    height: 28px;
  }
}
{% endstylesheet %}

{% schema %}
{
  "name": "Televes Benefits",
  "tag": "section",
  "class": "tv-section-benefits",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "benefits"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "of installing an antenna at home"
    },
    {
      "type": "header",
      "content": "Benefit 1"
    },
    {
      "type": "text",
      "id": "b1_title",
      "label": "Title",
      "default": "enjoy!"
    },
    {
      "type": "text",
      "id": "b1_text",
      "label": "Description",
      "default": "Watch your favorite sports, prime time shows, and local news"
    },
    {
      "type": "header",
      "content": "Benefit 2"
    },
    {
      "type": "text",
      "id": "b2_title",
      "label": "Title",
      "default": "no fees"
    },
    {
      "type": "text",
      "id": "b2_text",
      "label": "Description",
      "default": "No monthly fees: Save up to $1,500 per year"
    },
    {
      "type": "header",
      "content": "Benefit 3"
    },
    {
      "type": "text",
      "id": "b3_title",
      "label": "Title",
      "default": "antenna RECOMMENDATION"
    },
    {
      "type": "text",
      "id": "b3_text",
      "label": "Description",
      "default": "Personalized phone/email support and recommendation tool"
    },
    {
      "type": "header",
      "content": "Benefit 4"
    },
    {
      "type": "text",
      "id": "b4_title",
      "label": "Title",
      "default": "easy installation"
    },
    {
      "type": "text",
      "id": "b4_text",
      "label": "Description",
      "default": "Three simple steps"
    },
    {
      "type": "header",
      "content": "Benefit 5"
    },
    {
      "type": "text",
      "id": "b5_title",
      "label": "Title",
      "default": "30 DAY RETURNS"
    },
    {
      "type": "text",
      "id": "b5_text",
      "label": "Description",
      "default": "Try your antenna for 30 days"
    },
    {
      "type": "header",
      "content": "Call to Action"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Button text",
      "default": "Get yours"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Televes Benefits"
    }
  ]
}
{% endschema %}
